.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}
.header {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
